fastapi
uvicorn[standard]
langchain
langchain-community
langchain-openai
chromadb
sentence-transformers
huggingface-hub
python-dotenv
httpx
pypdf
langchain-chroma
langchain-huggingface
openai
PyMuPDF
